[submodule "thirdparty/tcl"]
	path = thirdparty/tcl
	url = https://github.com/tcltk/tcl
[submodule "thirdparty/tk"]
	path = thirdparty/tk
	url = https://github.com/tcltk/tk
[submodule "thirdparty/openssl"]
	path = thirdparty/openssl
	url = https://github.com/openssl/openssl
[submodule "thirdparty/sqlite"]
	path = thirdparty/sqlite
	url = https://github.com/sqlite/sqlite
[submodule "thirdparty/cpython"]
	path = thirdparty/cpython
	url = https://github.com/python/cpython
[submodule "thirdparty/qt5"]
	path = thirdparty/qt5
	url = https://github.com/qt/qt5
[submodule "thirdparty/pygame"]
	path = thirdparty/pygame
	url = https://github.com/cartr/pygame-polite.git
	branch = tag/1.9.6.1
[submodule "thirdparty/setuptools"]
	path = thirdparty/setuptools
	url = https://github.com/pypa/setuptools
